<%= form_with(model: [post, comment_to_post] ) do |form| %>
  <% if comment_to_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_to_post.errors.count, "error") %> prohibited this comment_to_post from being saved:</h2>
      <ul>
      <% comment_to_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :comment_to_post_content, :placeholder => 'コメントをしてみましょう！', class:'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする", class:"btn btn-primary" %>
  </div>
<% end %>
