<%= form_with(model: [@post, comment, ReplyToComment.new]) do |form| %>
  <% if @reply_to_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply_to_comment.errors.count, "error") %> prohibited this reply_to_comment from being saved:</h2>

      <ul>
      <% @reply_to_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :reply_to_comment_content, :placeholder => '返信をしてみましょう！', class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "返信をする", class:"btn btn-primary btn-sm" %>
  </div>
<% end %>

<%= render 'reply_to_comments/form', locals:{ comment: comment} %>
