<p id="notice"><%= notice %></p>

<p>
  <strong>Reply to comment content:</strong>
  <%= @reply_to_comment.reply_to_comment_content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reply_to_comment.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply_to_comment.user_id %>
</p>

<p>
  <strong>Comment to post:</strong>
  <%= @reply_to_comment.comment_to_post_id %>
</p>

<%= link_to 'Edit', edit_reply_to_comment_path(@reply_to_comment) %> |
<%= link_to 'Back', reply_to_comments_path %>
