<%= form_with(model: [post, post_comment] ) do |form| %>
  <% if post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_comment.errors.count, "error") %> prohibited this post_comment from being saved:</h2>
      <ul>
      <% post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-10">
      <%= form.text_area :content, :placeholder => '質問等を気軽にコメントをしてみましょう！', class:'form-control' %>
    </div>
    <div class="actions col-md-2">
      <%= form.submit "コメント送信", class:"btn btn-sm standard-button" %>
    </div>
  </div>
<% end %>
