<h1><%= @user.name %>さんのページ</h1>
<div class="container-fluid">
  <div>
    <table class="table table-striped table-bordered">

    <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <td>年齢</td>
      <td><%= @user.age %></td>
    </tr>

    <tr>
      <td>性別</td>
      <td><%= @user.sex %></td>
    </tr>

    <tr>
      <td>現在までのキャリア</td>
      <td><%= @user.past_career %></td>
    </tr>

    <tr>
      <td>今後のキャリアプラン</td>
      <td><%= @user.career_plan %></td>
    </tr>

    <tr>
      <td>ユーザー画像</td>
      <% if @user.user_image.present? %>
        <td><%= image_tag @user.user_image_url %></td>
      <% else %>
        <td><%= image_tag 'default.png' %></td>
      <% end %>
    </tr>

    </table>

    <% unless current_user == nil %>
      <% if @user.id == current_user.id %>
       <%= link_to 'Edit', edit_user_registration_path(@user), class: 'btn btn-default' %>
     <% end %>
    <% end %>
  </div>



  <!-- 投稿一覧 -->
  <div>
    <h5><%= @user.name %>さんの投稿一覧</h5>
    <% @posts.each do |post| %>
      <% if post.user_id == @user.id %>
        <div class ="card border-light">
          <div class ="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>会社名</th>
                  <th>業種</th>
                  <th>職種</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= post.company_name %></td>
                  <td><%= post.industry %></td>
                  <td><%= post.job_category %></td>
                  <td><%= link_to 'Show', post, class: "btn btn-primary" %></td>
                </tr>
              </tbody>
            </table>
            <small>いいね！：<%= post.likes.count %>件　働いてみたい！：<%= post.want_to_works.count %>件　コメント：<%= post.comment_to_posts.count %>件</small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  </div>
