<h2><%= @user.name %>さんのページ</h2>
<div class="container-fluid">
  <div>
    <table class="table table-striped table-bordered">

    <tr>
      <td>名前</td>
    </tr>

    <tr>
      <td>
        <% if @user.user_image.present? %>
          <%= image_tag @user.user_image_url %>
        <% else %>
          <%= image_tag 'default.png' %>
        <% end %>
        <%= @user.name %>
      </td>
    </tr>

    <tr>
      <td>年齢</td>
    </tr>

    <tr>
      <td><%= @user.age %></td>
    </tr>

    <tr>
      <td>性別</td>
    </tr>

    <tr>
      <td><%= @user.sex %></td>
    </tr>

    <tr>
      <td>現在までのキャリア</td>
    </tr>

    <tr>
      <td><%= @user.past_career %></td>
    </tr>

    <tr>
      <td>今後のキャリアプラン</td>
    </tr>

    <tr>
      <td><%= @user.career_plan %></td>
    </tr>

    <tr>
      <td>ユーザー画像</td>
    </tr>

    </table>

    <% unless current_user == nil %>
      <% if @user.id == current_user.id %>
       <%= link_to edit_user_registration_path(@user) do %>
         <i class="fa fa-edit fa-fw"></i> 編集
       <% end %>
     <% end %>
    <% end %>
  </div>

  <br>
  <br>

  <!-- 投稿一覧 -->
  <div>
    <h5><%= @user.name %>さんの投稿一覧</h5>
    <% @posts.each do |post| %>
      <% if post.user_id == @user.id %>
        <div class ="card border-light">
          <div class ="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>会社名</th>
                  <th>業種</th>
                  <th>職種</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= post.company_name %></td>
                  <td><%= post.industry %></td>
                  <td><%= post.job_category %></td>
                  <td><%= link_to 'Show', post, class: "btn btn-primary" %></td>
                </tr>
              </tbody>
            </table>
            <small>いいね！：<%= post.likes.count %>件　働いてみたい！：<%= post.wants.count %>件　コメント：<%= post.post_comments.count %>件</small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  </div>
