<div class="container">
  <br>
  <h2><%= @user.name %>さんのページ</h2>

  <div>
    <table class="table table-striped table-bordered">

    <tr>
      <td colspan="2">名前</td>
    </tr>

    <tr>
      <td colspan="2">
        <% if @user.user_image.present? %>
          <%= image_tag @user.user_image_url %>
        <% else %>
          <%= image_tag 'default.png' %>
        <% end %>
        <%= @user.name %>
        <% if @user.nickname.present? %>
          <%= link_to "https://twitter.com/#{@user.nickname}", class: "share_btn1 shtw1" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>年齢</td>
      <td>性別</td>
    </tr>

    <tr>
      <td><%= @user.age %></td>
      <td><%= @user.sex %></td>
    </tr>

    <tr>
      <td colspan="2">現在までのキャリア</td>
    </tr>

    <tr>
      <td colspan="2"><%= @user.past_career %></td>
    </tr>

    <tr>
      <td colspan="2">今後のキャリアプラン</td>
    </tr>

    <tr>
      <td colspan="2"><%= @user.career_plan %></td>
    </tr>

    </table>

    <% unless current_user == nil %>
      <% if @user.id == current_user.id %>
       <%= link_to edit_user_registration_path(@user) do %>
         <i class="fa fa-edit fa-fw"></i> 編集
       <% end %>
     <% end %>
    <% end %>
  </div>

  <br>
  <br>

  <!-- 本人の投稿一覧 -->
  <div>
    <h5><%= @user.name %>さんの投稿一覧</h5>
    <% unless @posts.present? %>
      <p><%= @user.name %>さんの投稿はまだありません。</p>
      <% if current_user.present? %>
        <% if @user.id == current_user.id %>
          <p>投稿してみましょう！➡︎ <%= link_to "投稿はこちらから", new_post_path, class: "standard-button" %></p>
        <% end %>
      <% end %>
    <% end %>
    <% @posts.each do |post| %>
      <%= link_to post do %>
      <div class ="card switch">
        <div class ="card-body">
          <table class="table table-responsive table-sm post-index">
            <tbody>
              <tr>
                <td class="border-top-0" rowspan="2">
                  <% if post.user.user_image.present? %>
                    <%= image_tag post.user.user_image_url %>
                  <% else %>
                    <%= image_tag 'default.png' %>
                  <% end %>
                </td>
                <td class="border-top-0"><%= post.user.name %>さん</td>
              </tr>
              <tr>
                <td class="border-top-0"><strong>　<%= post.company_name %>　/　<%= post.industry %>　/　<%= post.job_category %></strong></td>
              </tr>
            </tbody>
          </table>
          <div>
            <span class="badge badge-pill badge-success"><%= post.skill1 %></span>
            <span class="badge badge-pill badge-warning"><%= post.skill2 %></span>
            <span class="badge badge-pill badge-danger"><%= post.skill3 %></span>
          </div>
          <small>いいね！：<%= post.likes.count %>件　働いてみたい！：<%= post.wants.count %>件　コメント：<%= post.post_comments.count %>件</small>
        </div>
      </div>
      <% end %>

    <% end %>
  </div>
  <br>
  <!-- 本人が働きたい！を押した投稿一覧 -->
  <div>
    <h5><%= @user.name %>さんが働きたい！をした投稿一覧</h5>
    <% unless @want_posts.present? %>
      <p><%= @user.name %>さんが働きたい！をした投稿はまだありません。</p>
    <% end %>
    <% @want_posts.each do |post| %>
      <%= link_to post do %>
      <div class ="card switch">
        <div class ="card-body">
          <table class="table table-responsive table-sm post-index">
            <tbody>
              <tr>
                <td class="border-top-0" rowspan="2">
                  <% if post.user.user_image.present? %>
                    <%= image_tag post.user.user_image_url %>
                  <% else %>
                    <%= image_tag 'default.png' %>
                  <% end %>
                </td>
                <td class="border-top-0"><%= post.user.name %>さん</td>
              </tr>
              <tr>
                <td class="border-top-0"><strong>　<%= post.company_name %>　/　<%= post.industry %>　/　<%= post.job_category %></strong></td>
              </tr>
            </tbody>
          </table>
          <div>
            <span class="badge badge-warning"><%= post.skill1 %></span>
            <span class="badge badge-primary"><%= post.skill2 %></span>
            <span class="badge badge-info"><%= post.skill3 %></span>
          </div>
          <small>いいね！：<%= post.likes.count %>件　働いてみたい！：<%= post.wants.count %>件　コメント：<%= post.post_comments.count %>件</small>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
