
<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :contact_contact_name, :placeholder => '必須', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, id: :contact_contact_email, :placeholder => '必須', class:'form-control' %>
    <small class="text-muted">こちらのメールアドレスにお返事させていただきます。</small>
  </div>

  <div class="form-group">
    <%= form.label :contact_content %>
    <%= form.text_area :contact_content, id: :contact_contact_content, :placeholder => '必須', class:'form-control', rows:"3" %>
  </div>

  <div class="actions">
    <%= form.submit "送信", class:"btn btn-primary" %>
  </div>
<% end %>
