<p id="notice"><%= notice %></p>

<p>
  <strong>Contact name:</strong>
  <%= @contact.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @contact.contact_email %>
</p>

<p>
  <strong>Contact content:</strong>
  <%= @contact.contact_content %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
