<% posts.each do |post| %>
  <%= link_to post do %>
    <div class ="card switch">
      <div class ="card-body post-index-body">
        <table class="table table-responsive table-sm post-index">
          <tbody>
            <tr>
              <td class="border-top-0" rowspan="2">
                <% if post.user.user_image.present? %>
                  <%= image_tag post.user.user_image_url %>
                <% else %>
                  <%= image_tag 'default.png' %>
                <% end %>
              </td>
              <td class="border-top-0"><%= post.user.name %>さん</td>
            </tr>
            <tr>
              <td class="border-top-0"><strong>　<%= post.company_name %>　/　<%= post.industry %>　/　<%= post.job_category %></strong></td>
            </tr>
          </tbody>
        </table>
        <div>
          <span class="badge badge-primary"><%= post.skill1 %></span>
          <span class="badge badge-danger"><%= post.skill2 %></span>
          <span class="badge badge-warning"><%= post.skill3 %></span>
          <% if post.skill4.present? %>
            <span class="badge badge-success"><%= post.skill4 %></span>
            <% if post.skill5.present? %>
              <span class="badge badge-info"><%= post.skill5 %></span>
            <% end %>
          <% end %>
        </div>
        <small><i class="fa fa-heart fa-fw"></i>いいね！ <%= post.likes.count %>件　<i class="fa fa-star fa-fw"></i>働いてみたい！ <%= post.wants.count %>件　<i class="fa fa-comment fa-fw"></i>コメント <%= post.post_comments.count %>件</small>
      </div>
    </div>
  <% end %>
<% end %>
