<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger" role="alert"><strong>赤枠となっている項目をご確認ください。</strong></div>
    <br>
  <% end %>

  <p><i>全ての項目はいつでも編集できます。必須となっていない項目は任意です。</i></p>

  <div class="form-group">
      <%= form.label :company_name, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
    <%= form.text_field :company_name, id: :post_company_name, class:'form-control' %>
    <small class="text-muted">基本的に実名でお願いします。記載が難しい場合は、中堅商社・地方銀行 等の略称で問題ございません。</small>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <%= form.label :industry, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
      <%= form.select :industry,[["",nil],["メーカー・建設","メーカー・建設"],["商社","商社"],["流通・小売","流通・小売"],["金融","金融"],["インフラ・コンサル","インフラ・コンサル"],["IT","IT"],["広告・出版","広告・出版"],["官公庁","官公庁"],["その他","その他"]], {}, {class: 'form-control'} %>
    </div>

    <div class="form-group col-6">
      <%= form.label :job_category, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
      <%= form.select :job_category,[["",nil],["営業","営業"],["経理","経理"],["企画・管理","企画・管理"],["事務","事務"],["販売・サービス","販売・サービス"],["専門","専門"],["公務員・教員","公務員・教員"],["技術","技術"],["クリエイティブ","クリエイティブ"]], {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :division_name %>
    <%= form.text_field :division_name, id: :post_division_name, class:'form-control' %>
  </div>

  <div class="work-content">
    <span class="work-content-title">具体的な仕事内容〜ある平均的な1日</span>
    <br>
    <div>
      <p>＜説明＞<br>
      出勤時刻、仕事内容、それぞれの終了時刻を入力いただくと、下記例のようにグラフで表示されます。<br>
      直近の終了時間が、次の開始時刻となります。<br>
      1項目以上、最大6項目まで入力可能な仕様のため、主要業務にフォーカスして入力をお願いします。
      （※各15文字以内）</p>
      <%= image_tag 'example.png', :width => '310'%>
    </div>
    <br>

    <div class="form-group">
      <%= form.label :job_start, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
      <%= form.select :job_start,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content1, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.text_area :job_content1, id: :post_job_content1, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end1, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.select :job_end1,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content2 %>
        <%= form.text_area :job_content2, id: :post_job_content2, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end2 %>
        <%= form.select :job_end2,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content3 %>
        <%= form.text_area :job_content3, id: :post_job_content3, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end3 %>
        <%= form.select :job_end3,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content4 %>
        <%= form.text_area :job_content4, id: :post_job_content4, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end4 %>
        <%= form.select :job_end4,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content5 %>
        <%= form.text_area :job_content5, id: :post_job_content5, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end5 %>
        <%= form.select :job_end5,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :job_content6 %>
        <%= form.text_area :job_content6, id: :post_job_content6, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :job_end6 %>
        <%= form.select :job_end6,[["",nil],["7:00",7.0],["7:30",7.5],["8:00",8.0],["8:30",8.5],["9:00",9.0],["9:30",9.5],["10:00",10.0],["10:30",10.5],["11:00",11.0],["11:30",11.5],["12:00",12.0],["12:30",12.5],["13:00",13.0],["13:30",13.5],["14:00",14.0],["14:30",14.5],["15:00",15.0],["15:30",15.5],["16:00",16.0],["16:30",16.5],["17:00",17.0],["17:30",17.5],["18:00",18.0],["18:30",18.5],["19:00",19.0],["19:30",19.5],["20:00",20.0],["20:30",20.5],["21:00",21.0],["21:30",21.5],["22:00",22.0],["22:30",22.5],["23:00",23.0]], {}, {class: 'form-control'} %>
      </div>
    </div>
  </div>

  <div class="work-content">
    <span class="work-content-title">身についたスキル</span>
    <br>
    <div>
      <p>＜説明＞<br>
      身についたスキルを5つと、それぞれの5段階での自己評価(1:低〜5:高)を入力いただくと<br>
      下記図のようにレーダーチャートで表示されます。<br>
      3項目を自由に入力お願いします。（※各12文字以内）<br>
      <%= image_tag 'example2.png', :width => '310'%>
    </div>
    <br>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :skill1, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.text_area :skill1, id: :skill1, class:'form-control', rows:"1" %>
        <small class="text-muted">例）コミュニケーションスキル、マネジメントスキル、営業力、プレゼンスキル、問題解決能力、企画力、語学力、プログラミングスキル、excelスキル、交渉力、論理的思考力、人材育成スキル、ビジネスマナー、資料作成スキル、接客スキル、マーケティングスキル</small>
      </div>

      <div class="form-group col-4">
        <%= form.label :skill_level1, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.select :skill_level1,[["",nil],["1（低）",1],["2",2],["3",3],["4",4],["5（高）",5]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :skill2, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.text_area :skill2, id: :skill1, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :skill_level2, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.select :skill_level2,[["",nil],["1（低）",1],["2",2],["3",3],["4",4],["5（高）",5]], {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <%= form.label :skill3, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.text_area :skill3, id: :skill1, class:'form-control', rows:"1" %>
      </div>

      <div class="form-group col-4">
        <%= form.label :skill_level3, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
        <%= form.select :skill_level3,[["",nil],["1（低）",1],["2",2],["3",3],["4",4],["5（高）",5]], {}, {class: 'form-control'} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :obtained_skill, class: "label-inline" %><span class="badge badge-pill badge-danger">必須</span>
    <%= form.text_area :obtained_skill, id: :post_obtained_skill, class:'form-control', rows:"5" %>
    <small class="text-muted">イメージしやすいように可能な範囲で具体的なエピソードを記載してみましょう。</small>
  </div>

  <div class="actions">
    <%= form.submit "登録", class:"btn standard-button" %>
  </div>
<% end %>
