<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry, id: :post_industry %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :post_company_name %>
  </div>

  <div class="field">
    <%= form.label :division_name %>
    <%= form.text_field :division_name, id: :post_division_name %>
  </div>

  <div class="field">
    <%= form.label :experience_year %>
    <%= form.number_field :experience_year, id: :post_experience_year %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, id: :post_job_title %>
  </div>

  <div class="field">
    <%= form.label :job_category %>
    <%= form.text_field :job_category, id: :post_job_category %>
  </div>

  <div class="field">
    <%= form.label :income %>
    <%= form.number_field :income, id: :post_income %>
  </div>

  <div class="field">
    <%= form.label :job_content %>
    <%= form.text_area :job_content, id: :post_job_content %>
  </div>

  <div class="field">
    <%= form.label :obtained_skill %>
    <%= form.text_area :obtained_skill, id: :post_obtained_skill %>
  </div>

  <div class="field">
    <%= form.label :reward %>
    <%= form.text_area :reward, id: :post_reward %>
  </div>

  <div class="field">
    <%= form.label :challenge %>
    <%= form.text_area :challenge, id: :post_challenge %>
  </div>

  <div class="field">
    <%= form.label :join_reason %>
    <%= form.text_area :join_reason, id: :post_join_reason %>
  </div>

  <div class="field">
    <%= form.label :leave_reason %>
    <%= form.text_area :leave_reason, id: :post_leave_reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
