<h2>投稿一覧</h2>

<!-- 検索機能 -->
<div class="container-fluid">
  <div class="card search-box">

      <div class="card-body">
        <span class="box-title"><i class="fa fa-search fa-fw"></i>検索</span>
        <%= search_form_for(@q, method: :get) do |f| %>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :company_name_eq, '会社名' %>
              <%= f.text_field :company_name_cont, class: "form-control", placeholder: "部分一致" %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :industry_eq, '業種' %>
              <%= f.select :industry_eq, [["メーカー・建設","メーカー・建設"],["商社","商社"],["流通・小売","流通・小売"],["金融","金融"],["サービス・インフラ・コンサル","サービス・インフラ・コンサル"],["IT","IT"],["広告・出版","広告・出版"],["官公庁","官公庁"]], :include_blank => true %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :job_category_eq, '職種' %>
              <%= f.select :job_category_eq, [["営業","営業"],["経理","経理"],["企画・管理","企画・管理"],["事務","事務"],["販売・サービス","販売・サービス"],["専門","専門"],["公務員・教員","公務員・教員"],["技術","技術"],["クリエイティブ","クリエイティブ"]], :include_blank => true %>
            </div>
          </div>
          <div class="search-button">
          <%= f.submit 'この条件で検索する', class: "btn btn-primary btn-sm" %>　<%= link_to '検索条件クリア', url_for, class: "btn btn-light btn-sm" %>
        </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
<!-- 検索機能ここまで -->

<div class="container-fluid index-body">
  <div class="row">
    <!-- 一覧表示 -->
    <div id="main" class="col-sm-12 col-md-8">
      <div class="main-body">
        <% @posts.each do |post| %>
        <%= link_to post do %>
        <div class ="card switch">
          <div class ="card-body">
            <table class="table table-responsive table-sm">
              <tbody>
                <tr>
                  <td class="border-top-0" rowspan="2">
                    <% if post.user.user_image.present? %>
                      <%= image_tag post.user.user_image_url %>
                    <% else %>
                      <%= image_tag 'default.png' %>
                    <% end %>
                  </td>
                  <td class="border-top-0"><%= post.user.name %>さん</td>
                </tr>
                <tr>
                  <td class="border-top-0"><strong>　<%= post.company_name %>　/　<%= post.industry %>　/　<%= post.job_category %></strong></td>
                </tr>
              </tbody>
            </table>
            <small>いいね！：<%= post.likes.count %>件　働いてみたい！：<%= post.wants.count %>件　コメント：<%= post.post_comments.count %>件</small>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <!-- 一覧表示ここまで -->

    <!-- ページング機能 -->
    <%= paginate @posts %>
    <!-- ページング機能ここまで -->
    <%= link_to '自分の経験を投稿する', new_post_path, class: "btn btn-primary" %>
    </div>

  <!-- サイドバー -->
  <div id="side" class="col-sm-12 col-md-4">
    <!-- いいねが多い投稿一覧機能 -->
    <div class="rank-box">
      <span class="rank-box-title"><i class="fa fa-check fa-fw"></i>いいね！ランキング</span>
      <% @like_ranking.each.with_index(1) do |post, i| %>
      <%= link_to post do %>
        <div class ="rank">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td class="border-top-0"><%= i %>位　<%= post.user.name %>さん</td>
              </tr>
              <tr>
                <td class="border-top-0"><%= post.company_name %></td>
              </tr>
              <tr>
                <td class="border-top-0"><%= post.industry %>　/　<%= post.job_category %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
      <% end %>
    </div>
    <!-- いいねが多い投稿一覧機能ここまで -->

    <!-- 働きたいが多い投稿一覧機能 -->
    <div class="rank-box">
      <span class="rank-box-title"><i class="fa fa-check fa-fw"></i>働いてみたい！ランキング</span>
      <% @want_ranking.each.with_index(1) do |post, i| %>
      <%= link_to post do %>
        <div class ="rank">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td class="border-top-0"><%= i %>位　<%= post.user.name %>さん</td>
              </tr>
              <tr>
                <td class="border-top-0"><%= post.company_name %></td>
              </tr>
              <tr>
                <td class="border-top-0"><%= post.industry %>　/　<%= post.job_category %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
      <% end %>
    </div>

    <!-- 働きたい投稿一覧機能ここまで -->
  </div>
  <!-- サイドバーここまで -->
</div>
