<!-- <p id="notice"><%= notice %></p> -->

<h1>投稿一覧</h1>

<!-- 検索機能 -->
<div class="container-fluid">
  <div class="card bg-light">
    <div class="card-header">検索</div>
      <div class="card-body">
        <%= search_form_for(@q, method: :get) do |f| %>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :company_name_eq, '会社名' %>
              <%= f.text_field :company_name_cont, class: "form-control", placeholder: "部分一致" %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :industry_eq, '業種' %>
              <%= f.select :industry_eq, [["メーカー・建設","メーカー・建設"],["商社","商社"],["流通・小売","流通・小売"],["金融","金融"],["サービス・インフラ・コンサル","サービス・インフラ・コンサル"],["IT","IT"],["広告・出版","広告・出版"],["官公庁","官公庁"]], :include_blank => true %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <%= f.label :job_category_eq, '職種' %>
              <%= f.select :job_category_eq, [["営業","営業"],["経理","経理"],["企画・管理","企画・管理"],["事務","事務"],["販売・サービス","販売・サービス"],["専門","専門"],["公務員・教員","公務員・教員"],["技術","技術"],["クリエイティブ","クリエイティブ"]], :include_blank => true %>
            </div>
          </div>
          <%= f.submit '検索', class: "btn btn-primary" %>
          <%= link_to 'クリア', url_for, class: "btn btn-default" %>
        </div>
        <% end %>
      </div>
  </div>
</div>
<!-- 検索機能ここまで -->

<div class="container-fluid">
  <div class="row">
    <!-- 一覧表示 -->
    <div id="main" class="col-sm-12 col-md-8">
      <div class="main-body">

          <% @posts.each do |post| %>
          <div class ="card border-light">
            <div class ="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>投稿者</th>
                    <th>会社名</th>
                    <th>業種</th>
                    <th>職種</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= link_to "#{post.user.name}さん", user_path(post.user.id) %></td>
                    <td><%= post.company_name %></td>
                    <td><%= post.industry %></td>
                    <td><%= post.job_category %></td>
                    <td><%= link_to 'Show', post, class: "btn btn-primary" %></td>
                  </tr>
                </tbody>
              </table>
              <small>いいね！：<%= post.like_to_posts.count %>件　働いてみたい！：<%= post.want_to_works.count %>件　コメント：<%= post.comment_to_posts.count %>件</small>
            </div>
          </div>
          <% end %>
      </div>
      <!-- 一覧表示ここまで -->

    <!-- ページング機能 -->
    <%= paginate @posts %>
    <!-- ページング機能ここまで -->
    <%= link_to '自分の経験を投稿する', new_post_path, class: "btn btn-primary" %>
    </div>

  <!-- サイドバー -->
  <div id="side" class="col-sm-12 col-md-4">
    <!-- いいねが多い投稿一覧機能 -->
      <div class="card">
        <div class="card-header">いいね！が多い投稿</div>
          <div class="card-body">
            <% @like_ranking.each.with_index(1) do |post, i| %>
              <div class ="card border-light">
                <div class ="card-body">
                  <p>第<%= i %>位</p>
                  <p><%= link_to "#{post.user.name}さん", user_path(post.user.id) %>の投稿</p>
                  <p>会社名：<%= post.company_name %></p>
                  <p>業種：<%= post.industry %></p>
                  <p>職種：<%= post.job_category %></p>
                  <p><%= link_to 'Show', post, class: "btn btn-primary" %></p>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    <!-- いいねが多い投稿一覧機能ここまで -->

    <!-- 働きたいが多い投稿一覧機能 -->
    <div class="card">
      <div class="card-header">働いてみたい！が多い投稿</div>
        <div class="card-body">
          <% @want_ranking.each.with_index(1) do |post, i| %>
            <div class ="card border-light">
              <div class ="card-body">
                <p>第<%= i %>位</p>
                <p><%= link_to "#{post.user.name}さん", user_path(post.user.id) %>の投稿</p>
                <p>会社名：<%= post.company_name %></p>
                <p>業種：<%= post.industry %></p>
                <p>職種：<%= post.job_category %></p>
                <p><%= link_to 'Show', post, class: "btn btn-primary" %></p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    <!-- 働きたい投稿一覧機能ここまで -->
  </div>
  <!-- サイドバーここまで -->
</div>
