<div class="indent">
  <% @post_comment_replies.each do |reply| %>
    <% if reply.post_comment_id == comment.id %>
      <p>
        <% if reply.user.user_image.present? %>
          <%= image_tag reply.user.user_image_url %>
        <% else %>
          <%= image_tag 'default.png' %>
        <% end %>
        <%= link_to "#{reply.user.name}さん", user_path(reply.user.id) %>
      </p>
      <p>返信内容：<%= reply.content %></p>
      <% if reply.user == current_user %>
        <p><%= link_to '返信を削除する', post_post_comment_post_comment_reply_path(reply.post_id, reply.post_comment_id, reply.id), method: :delete, class: 'btn btn-light btn-sm', remote: true %></p>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>


    <%= form_with(model: [@post, comment, PostCommentReply.new]) do |form| %>
      <% if @post_comment_reply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post_comment_reply.errors.count, "error") %> prohibited this post_comment_reply from being saved:</h2>

          <ul>
          <% @post_comment_reply.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.text_area :content, :placeholder => '返信をしてみましょう！', class:'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit "返信をする", class:"btn btn-primary btn-sm" %>
      </div>
    <% end %>


  <% end %>
</div>
